body {
  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px;
  width: 100%;
  background: #ddd;
  margin-bottom: 8px;
}

button {
  padding: 8px;
  color: black;
  background-color: #fff;
  transition: 250ms background-color;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

.hero-wrapper {
  position: absolute;
  transition: 1s all;
}

.hero-wrapper > * > *  {
  transition: 1s all;
}

.test > * > * {
  width: 500px !important;
}